{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Computing Laboratory Telkom University">
    <meta name="author" content="Maxalmina Satria Kahfi">

    {% block title %}{% endblock %}
    <!-- Title Page -->
    <title>Computing Laboratory - Publications</title>

    <!-- Icon Page -->
    <link rel="icon" href="{% static 'landing/img/favicon.png' %}">

    <!-- Custom Google Web Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'publications/css/style.css' %}" type="text/css">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url ''%}"><b>COMPUTING</b> LABORATORY</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'laboratory'%}">Laboratory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'products'%}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'publications'%}">Publications</a>
            </li><!--
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="">Team</a>
            </li>-->
          </ul>
        </div>
      </div>
    </nav>
    
    <!-- content here -->
    {% block content %}
    {% endblock %}
    
    <!-- footer -->
    <footer class="page-footer">
      <div class="container">
        <!-- Grid row -->
        <div class="row">
          <div class="col-3 text-left">
            <h3>computing laboratory</h3>
          </div>
          <div class="col-2">
            <h6 class="text-uppercase">Laboratory</h6>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'laboratory'%}">About</a>
              </li>
              <li>
                <a href="{% url 'publications'%}">Publications</a>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <h6 class="text-uppercase">Products</h6>
            <ul class="list-unstyled">
              <li>
                <a href="{% url 'products'%}">Playground</a>
              </li>
              <li>
                <a href="{% url 'products'%}">Videos</a>
              </li>
            </ul>
          </div>
          <div class="col-3">
            <h6 class="text-uppercase">University</h6>
            <ul class="list-unstyled">
              <li>
                <a href="https://telkomuniversity.ac.id/">Telkom University</a>
              </li>
              <li>
                <a href="https://soc.telkomuniversity.ac.id/">School of Computing</a>
              </li>
              <li>
                <a href="http://bif.telkomuniversity.ac.id/">Bachelor of Informatics</a>
              </li>
            </ul>
          </div>
          <div class="col-2">
            <h6 class="text-uppercase">Social Media</h6>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/ComputingTelU">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/telkomuniversity.computing.lab/">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UC4zjoDB_1WEpdv0zcXPKKSA">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <script src="{% static 'publications/js/agency.min.js' %}"></script>
</body>
</html>
